<h2>作業の目的</h2>
<p>この作業では，ある対象についてどのような感想を持っているかをツイートから読み取ります．</p>

<div class="card">
  <div class="card-block">
    <p class="card-text">iPhone6 は画面が綺麗だな
  </div>
</div>

<p>選択肢は以下の4択です</p>
<ol>
  <li>iPhone6について<b>何か具体的に良い部分がある</b>と思っている</li>
  <li>iPhone6について<b>何か具体的に悪い部分がある</b>と思っている</li>
  <li>iPhone6について何か感じているが<b>良い悪いの判断ができない</b>．
    もしくは良い悪いと感じているが<b>具体的な部分がない</b>．
  </li>
  <li>iPhone6について<b>何も感じていない</b>．
    iPhone6とはあまり<b>関係がない</b>．意味がわからない．広告など
  </li>
</ol>

<p>このツイートでは，iPhone6の画面という具体的な部分について良いと感じているため
  「1. iPhone6について<b>何か具体的に良い部分がある</b>と思っている」を選びます．
  iPhone5 や iPhone 6s Plus など，派生した製品について書かれていた場合でも，
  iPhone6 について書かれていると解釈して判定してください．
</p>

<br>
<br>

<div class="card">
  <div class="card-block">
    <p class="card-text">iPhone6 は画面が綺麗だけれども音が悪い
  </div>
</div>

<p>このツイートでは，iPhone6について画面については良いと考えていますが，音については悪いと考えています．
  そこで 「1. iPhone6について<b>何か具体的に良い部分がある</b>と思っている」
  と「2. iPhone6について<b>何か具体的に悪い部分がある</b>と思っている」の<b>両方を選びます</b>．</p>
</p>

<br>
<br>

<div class="card">
  <div class="card-block">
    <p class="card-text">パナソニックのエアコン買ったけど操作が分かりにくいから辛い</p>
  </div>
</div>

<p>このツイートでは iPhone ではなく，パナソニックに関係するかどうかを調べます．
  パナソニックの製品についてですが，パナソニックという会社から派生したものであると解釈し，
  「2. iPhone6について<b>何か具体的に悪い部分がある</b>と思っている」を選びます．</p>
<br>
<br>

<div class="card">
  <div class="card-block">
    <p class="card-text">愛知県のお客様より【PANASONIC LUMIX DMC-GM1SK-A レンズキット [ブルー]】をご購入いただきました！</p>
  </div>
</div>

<p>このツイートでは iPhone ではなく，パナソニックに関係するかどうかを調べます．
  このツイートを記載した人は，おそらく購入し利用している人ではないことが想像されるため，
  「4. iPhone6について<b>何も感じていない</b>．
  iPhone6とはあまり<b>関係がない</b>．意味がわからない．広告など」を選びます．</p>
<br>
<br>

<div class="card">
  <div class="card-block">
    <p class="card-text">iPhone6 に変えようかな
  </div>
</div>

<p>このツイートでは，iPhone6について良いと考えていることが想像できますが，
  具体的に何について良いと考えているか分からないので 「3. iPhone6について何か感じているが<b>良い悪いの判断ができない</b>．
  もしくは良い悪いと感じているが<b>具体的な部分がない</b>．」を選びます．</p>

<br>
<br>

<div class="card">
  <div class="card-block">
    <p class="card-text">iPhone6 とても使いやすいって@aaaが言ってた
  </div>
</div>

<p>このツイートはiPhone6に関係ありますが，ツイートを行った人は特にiPhone6に対して何も感想が無いので
  「4. iPhone6について<b>何も感じていない</b>．
  iPhone6とはあまり<b>関係がない</b>．意味がわからない．広告など」を選びます．</p>

<br>
<br>
<div class="card">
  <div class="card-block">
    <p class="card-text">友達が iPhone6 に変えた
  </div>
</div>

<p>このツイートはiPhone6に関係ありますが，ツイートを行った人は特にiPhone6に対して何も感想が無いので
  「4. iPhone6について<b>何も感じていない</b>．
  iPhone6とはあまり<b>関係がない</b>．意味がわからない．広告など」を選びます．</p>

<br>
<br>

<div class="card">
  <div class="card-block">
    <p class="card-text">iPhone6 のカバーを新しいものにしたら気分がいい
  </div>
</div>

<p>このツイートはiPhone6のカバーについてであって iPhone6 そのものではないので，
  「4. iPhone6について<b>何も感じていない</b>．
  iPhone6とはあまり<b>関係がない</b>．意味がわからない．広告など」を選びます．</p>

<br>
<br>

<div class="card">
  <div class="card-block">
    <p class="card-text">iPhone6でポケモンGoおもしろい
  </div>
</div>

<p>このツイートはiPhone6で動作するアプリについてであって iPhone6 そのものではないので，
  「4.
  iPhone6とはあまり<b>関係がない</b>．意味がわからない．広告など」を選びます．基本的には
  標準的な機能や物については関係がある，新たに追加したアプリなどは関係が無いと判断します．
</p>

<br>
<br>

<h2>作業のカウント方法</h2>
<% if current_user.team == 0 %>
    <p><b>100件の作業を行ってください．</b>
      <br>
      Crowdworksの画面で作業完了を申告してください．このとき，
      このシステムで作成したユーザ名を入力してください．<br>
      作業内容を確認し，問題なければ承認します．
    </p>
<% else %>
    <p><b>100ポイントを集め終わったら作業申請をしてください．</b>
      1個の作業を行うと0.5ポイント付与します．
      システム管理者は常に作業内容を見ています．その作業が正確であると判断したとき，
      さらに0.5ポイントを付与します．ただし，作業が行われてから判断までに時間がかかることも
      あるため，必ずしもすぐにポイントが付与されるとは限らず，ある程度時間が経過して
      からポイントが付与されるときもあります．付与されたポイントが100を超えたときに，
      Crowdworksの画面で作業完了を申告してください．</p>

<% end %>

<% if current_user.team == 2 || current_user.team == 3 || current_user.team == 4 || current_user.team == 5 %>
    <h2>他のワーカの評価</h2>
    <p>評価を行っていると，他の作業者がどのような評価を行っているかを評価する画面が出てくることがあります．
      このとき，<b>本当にその作業者が正確に作業を行っているかを5段階で評価してください．</b>また，<b>何が悪いのか，どの
      ようにしたら良い評価となるかをアドバイスしてください．</b>そのワーカへアドバイスが送信されてしまいますので，
      優しいアドバイスをお願いします．</p>
    <p>この評価を行うと，<b>5ポイント</b>になります．</p>
<% end %>

<% if current_user.team == 4 || current_user.team == 5 %>
    <h2>作業の中断</h2>
    <p>作業の質が低いとき，作業を中断しなければならないことがあります．何度か警告が出ますが，
    作業の質が改善しないときには，今後の作業を行っていただけないことがあります．このとき，
    中断前に行われた作業が無効になります．</p>
<% end %>

<% if current_user.team == 3 || current_user.team == 5 %>
    <h2>ポイントアップ</h2>
    <p>
    作業の質が高いと判断されたとき，1回の作業で最大2ポイント得られるようになります．そのため，
      早く作業を終えることができるようになります．
    </p>
<% end %>

<%= link_to '作業ページへ', home_index_path, :class => 'btn btn-primary' %>