<h1>Twitter 分析作業へようこそ</h1>
<ul>
  <li>もしこの作業を初めて行われるときは<%= link_to "ユーザ登録", new_user_registration_path %>を行ってください． </li>
  <li>以前に作業を行われたことがある場合は<%= link_to "ログイン", new_user_session_path %>してください．</li>
</ul>
