/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap-sprockets";
@import "bootstrap";

/* レスポンシブのフォントサイズ指定 */

@media screen and (min-width: 0px) and (max-width : 767px){
  body {
    padding-top: 120px;
  }
  * {
    font-size:14px;
  }
  h1,h2 {
    font-size: 1.5em;
  }
  h3,h4 {
    font-size: 1.3em;
  }

  /*
  p,div, .panel-title, .form-control, label, b, .card_text {
    font-size: 1.1em;
  }
  p.story  {
    font-size: 1.0em;
  }
  .copyright{
    font-size: 0.7em;
  }
  */
}

@media screen and (min-width: 768px) and (max-width : 991px){
  body {
    padding-top: 70px;
  }
  * {
    font-size:14px;
  }
  .copyright{
    font-size:14px;
  }
  p.story  {
    font-size:14px;
    line-height: 1.8;
  }

}

@media screen and (min-width : 992px) {
  body {
    padding-top: 70px;
  }
  * {
    font-size:16px;
  }
  .copyright{
    font-size:18px;
  }
  p.story  {
    font-size:18px;
    line-height: 1.8;
  }

}

body {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.important {
  color: red;
  font-style: oblique;
}