<p><%= @resource.email %>様</p>

<p>パスワードを変更します．以下の URL をクリックしてください．</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールに見覚えがなければ，無視してください</p>
